@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira Stencil One';
  src: url('./assets/fonts/SairaStencilOne-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable both-edges;
}

.root {
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  user-select: none !important;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.ant-modal-footer .ant-btn-primary {
  background-color: #1677ff !important;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-center justify-start;
}

.app-icon p {
  font-family: 'Saira Stencil One';
}

.root-noti {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 25px,
    #fff calc(100% - 25px),
    transparent
  );

  mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
}

.card-item {
  transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease,
    z-index 0.25s ease 0.25s !important;
}

.card-list:hover .card-item {
  opacity: 40%;
}
