@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira Stencil One';
  src: url('./assets/fonts/SairaStencilOne-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable both-edges;
}

.scheme-dark {
  color-scheme: dark;
}

.root {
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  user-select: none !important;
}

input {
  background-color: transparent !important;
  outline: none;
}

/* TAILWIND CUSTOM */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-center justify-start;
}

/* CUSTOM ANTD */
.ant-modal-footer .ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-form-item-explain-error {
  margin-left: 1rem;
}

.app-icon p {
  font-family: 'Saira Stencil One';
}

/* ROOT NOTIFICATION ANIMATE */
.root-noti {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 25px,
    #fff calc(100% - 25px),
    transparent
  );

  mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
}

.looper__innerList[data-animate='true'] .looper__listInstance {
  animation: slideToLeftAnimation linear infinite;
}

@keyframes slideToLeftAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* CARDS LIST HOVER ANIMATE */
.card-item {
  transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease,
    z-index 0.25s ease 0.25s !important;
}

.card-list:hover .card-item {
  opacity: 40%;
}

/* LOGIN BOTTOM BACKGROUND */
.login-bottom {
  background-image: url('./assets/footer.jpg');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  background-blend-mode: screen;
}

.login-bottom::before,
.login-bottom::after {
  content: '';
  position: absolute;
  left: 0;
  width: 12rem;
  height: 100%;
  background-image: linear-gradient(to right, #edf2f7, transparent);
}

.login-bottom::after {
  left: auto;
  right: 0;
  background-image: linear-gradient(to left, #edf2f7, transparent);
}

/* COUNT DOWN TIMER ANIMATE */
.count {
  perspective: 500px;
  transform: translateZ(0);
}

.count span {
  transform-origin: 0 1.25rem 0;
}

.count span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.count span::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.next-bottom {
  transform: rotate3d(1, 0, 0, 90deg);
}

.changing .current-top {
  transform: rotate3d(1, 0, 0, -90deg);
  transition: transform 0.2625s ease-in, box-shadow 0.2625s ease-in;
}

.changing .next-bottom,
.changed .next-bottom {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.175s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.35s,
    transform 0.35s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.35s;

  transform: rotate3d(1, 0, 0, 0);
}

.changed .current-top,
.changed .current-bottom {
  display: none;
}
